.switcherMain {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}
.base {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
}
.on {
    background-color: green;
    color: white;
}
.off {
    background-color: red;
    color: white;
}

.light {
    border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    /*background-color: gold;*/
    margin-left: 15px;
}